language: node_js
sudo: required  # See http://docs.travis-ci.com/user/trusty-ci-environment/
dist: trusty
node_js:
  - "stable"
script:
  - npm test
  - npm i -g
  - splittable ./sample/lib/a ./sample/lib/b --write-to ./travis-out/
  - splittable -v
  - splittable -h
cache:
  directories:
  - node_modules
branches:
  only:
    - master
